<header class="section is-paddingless">
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="container">

    <div class="navbar-brand">
      <a class="navbar-item is-size-4" href="{{ .Site.Home.URL }}">{{ .Site.Title }}</a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
            <a class="navbar-link {{ if $currentPage.HasMenuCurrent "main" . }}is-active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
            <div class="navbar-dropdown is-boxed">
              {{ range .Children }}
              <a class="navbar-item {{ if $currentPage.HasMenuCurrent "main" . }}is-active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
              {{ end }}
            </div>
            {{ else }}
            <a class="navbar-item {{ if $currentPage.HasMenuCurrent "main" . }}is-active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
          {{ end }}
      </div>
    </div>

    </div>
  </nav>
</header>
