<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
{{ partial "head.html" . -}}
<body>
  {{- partial "header.html" . -}}
    <section class="section">
      <div class="container">
        <h1 class="title">{{ .Site.Title }}</h1>
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </section>
    {{ range .Site.Data.top }}
    <section class="section">
        <div class="container content">
          {{ partial .Partial . }}
        </div>
      </section>
    {{ end }}
    <section class="section"></section>
  {{- partial "footer.html" . -}}
</body>
</html>

