<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
{{ partial "head.html" . -}}
<body>
  {{- partial "header.html" . -}}
    <section class="section">
      <div class="container">
        <h1 class="title">{{ .Site.Title }}</h1>
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container content">
        <h2 class="subtitle">Talks</h2>
        <ul>
          {{ range .Site.Data.talks.Presentations }}
          <li>{{ .Date }}&nbsp;
            {{ if .URL }}<a href="{{ .URL }}">{{ .Title }}</a>{{ else }}{{ .Title }}{{ end }}
            {{ if .At }}&nbsp;at&nbsp;{{ if .At.URL }}<a href="{{ .At.URL }}">{{ .At.Name }}</a>{{ else }}{{ .At.Name }}{{ end }}{{ end }}
          </li>
          {{ end }}
        </ul>
        <p></p>
      </div>
    </section>
    <section class="section">

    </section>
  {{- partial "footer.html" . -}}
</body>
</html>

